/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-light-beige: rgb(238, 232, 212);

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-grey);
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-grey);
  margin: 0px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-grey);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-grey);
  margin: 4px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-grey);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light-beige);
  align-items: center;
  padding: 16px;
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  padding: 0px 0px 0px 50px;
}

.navbar__logo__img {
  width: 70px;
  height: auto;
}

.navbar__menu {
  display: flex;
  padding: 0px 50px;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  border-radius: 5px;
  font-weight: var(--weight-bold);
}

.navbar__menu__item:hover {
  background-color: var(--color-white);
}

#index {
  background-color: var(--color-light-beige);
  padding: 40px;
  text-align: left;
}

.index__home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 150px;
  margin: 0px 0px 55px 0px;
}

.index__profile {
  width: 300px;
  height: 300px;
}

.job {
  display: flex;
  align-items: center;
  padding: 50px 150px;
}

.job__description {
  margin: 0px 30px;
  text-align: left;
}

.job__logo1 {
  width: 250px;
  height: 35px;
}

.job__logo2 {
  width: 250px;
  height: 35px;
}

#interest {
  background-color: var(--color-light-beige);
  padding: 50px;
  text-align: center;
}

.interest__text {
  padding: 0px 150px;
}

.interest__description {
  padding: 50px 0px;
  line-height: 200%;
  font-size: var(--font-regular);
}

.pics__mine {
  display: flex;
  justify-content: space-between;
  margin: 100px 150px;
}

.pics__mine__item1 {
  width: 500px;
  height: 500px;
  box-shadow: 10px 10px 5px var(--color-light-grey);
}

.pics__mine__item2 {
  width: 500px;
  height: 500px;
  box-shadow: 10px 10px 5px var(--color-light-grey);
}

.pics__mine__item3 {
  box-shadow: 10px 10px 5px var(--color-light-grey);
}

.pics__places1 {
  margin: 10px 0px;
  font-size: var(--font-small);
}

.pics__places2 {
  margin: 10px 0px;
  font-size: var(--font-small);
}

#resolution {
  background-color: var(--color-light-beige);
  padding: 50px;
  text-align: center;
}

.resolution__text {
  padding: 0px 150px;
}

.resolution__description {
  padding: 50px 0px;
  line-height: 200%;
  font-size: var(--font-regular);
}

.res__skill {
  margin: 20px 0px;
}

.skill__text {
  margin-top: 50px;
}

.skill__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: #eea02c;
  border: 1.5px solid var(--color-light-grey);
  border-radius: 50%;
  margin-bottom: 16px;
}

.skill_description {
  color: var(--color-light-grey);
  font-size: var(--font-small);
}

#contact {
  background-color: var(--color-light-beige);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

ul {
  margin: 0px 0px;
}

.contact__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 5px 50px 0px 50px;
}

.contact__icon {
  width: 50px;
  padding: 8px 12px;
  margin: 0px 15px;
}

.contact__email {
  text-decoration: none;
  color: var(--color-grey);
  padding: 8px 12px;
  margin: 5px 42px;
  border-radius: 5px;
  border: 2px solid var(--color-light-grey);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}
